@page {
  size: 80mm 100mm;
  margin: 8mm;

  @bottom-center {
    content: counter(page);
    font: 8px sans-serif;
  }
}

html {
  font: 12px/16px monospace;
  widows: 1;
  orphans: 1;
}

body {
  margin: 0;
}

h1,
h2,
p,
table {
  margin: 0 0 6px;
}

p {
  inline-size: 32.5ch;
}

h1,
h2 {
  font-size: 12px;
}

h1 {
  break-before: right;
}

.summary {
  break-before: page;
}

.xref::before {
  content: "Chapter " target-text(attr(href url), before);
}

.chapter-number::before {
  content: attr(data-number);
}

table {
  border-collapse: collapse;
  font: 10px/24px monospace;
  table-layout: fixed;
  inline-size: calc(19ch + 10px);
}

.filler {
  height: 88px;
}

td {
  inline-size: 9.5ch;
  border: 1px solid;
  padding: 2px;
}
